<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>janken.html</title>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Janken GAME!</h1>

  <p>
    <!--entryがあった場合に表示される-->
    <!--objectはdivの中でentryオブジェクトのフィールドにアクセスすることを示す-->
  <div th:if="${entry}">
    エントリー
    <ul>
      <li th:each="user : ${entry.users}">[[${user}]]</li>

    </ul>
  </div>
  </p>
  <p>

  <div th:if="${login_user}">
    Hi [[${login_user}]]
  </div>
  </p>

  <p>
    <a href="/hand?te=gu">ぐー</a>
    <a href="/hand?te=tyoki">ちょき</a>
    <a href="/hand?te=pa">ぱー</a>

  <div th:if="${hand}">
    あなたの手 [[${hand}]]</br>
    相手の手 [[${enemy}]]</br>
    結果 [[${hantei}]]</br>

  </div>
  </p>
</body>

</html>
