<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Match</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Match</h1>
  <h2>
    <span sec:authentication="name"></span> V.S. <span th:if="${cpu}">[[${cpu.name}]]</span>
  </h2>

  <!-- <div>
    <a href="/hand?te=gu">ぐー</a>
    <a href="/hand?te=tyoki">ちょき</a>
    <a href="/hand?te=pa">ぱー</a>
  </div>-->

  <div>
    <a th:href="@{/fight(id=${cpu.id}, te=gu)}">ぐー</a>
    <a th:href="@{/fight(id=${cpu.id}, te=choki)}">ちょき</a>
    <a th:href="@{/fight(id=${cpu.id}, te=pa)}">ぱー</a>
  </div>

  <div th:if="${hand}">
    あなたの手 [[${hand}]]</br>
    相手の手 [[${enemy}]]</br>
    結果 [[${hantei}]]</br>
  </div>

  <div>
    <a href="/janken">もどる</a>
  </div>
  </p>


</body>

</html>
