<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Wait</title>
  <script>
    window.onload = function () {

      var sse = new EventSource('/asyncKekka');
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        console.log(event);
        var match = JSON.parse(event.data);

        var match_table = "Match: id " + match.id + " user1: " + match.user1 + " user2: " + match.user2 + " user1Hand: " + match.user1Hand + " user2Hand: " + match.user2Hand;

        document.getElementById("result").innerHTML = match_table;
        document.getElementById("kekka").innerHTML = "<br> <a href='/janken'>もどる</a>";
      }

      var sse2 = new EventSource('/asyncWinner');
      sse2.onmessage = function (event) {
        console.log("sse2.onmessage");
        console.log(event);
        document.getElementById("winner").textContent = event.data;
      }
    }
  </script>
</head>

<body>
  <h1>相手の手を待ってます</h1>

  <div th:if="${login_user}">
    Hi [[${login_user}]]
  </div>

  <h1>結果</h1>
  <h2 id="winner"></h2>
  <h3 id="result"></h3>
  <h5 id="kekka"></h5>
  </p>

</body>

</html>
