<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Wait</title>
  <script>
    window.onload = function () {

      var sse = new EventSource('/asyncKekka');
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        console.log(event);
        var activeMatch = JSON.parse(event.data);
        document.getElementById("result").textContent = event.data;
        document.getElementById("kekka").innerHTML = "<br> <a href='/janken'>もどる</a>";
      }
    }
  </script>
</head>

<body>
  <h1>相手の手を待ってます</h1>

  <div th:if="${login_user}">
    Hi [[${login_user}]]
  </div>

  <h2 id="result"></h2>
  <p id="kekka"></p>

  <p>
  <p th:if="${result}"></p>
  <h1>結果</h1>
  <div th:each="matches, stat:${result}">
    <tr>
      <td>ID:[[${stat.index}]]</td>
      <td>user1:[[${matches.user1}]]</td>
      <td>user2:[[${matches.user2}]]</td>
      <td>user1の手:[[${matches.user1Hand}]]</td>
      <td>user2の手:[[${matches.user2Hand}]]</td>
    </tr>
  </div>
  </p>

</body>

</html>
